<!-- views/partials/footer.ejs -->
<footer class="footer">
    <div class="footer-content">
        <div class="footer-section">
            <h3>Naija Groups</h3>
            <p>Connecting the Nigerian organizations and groups worldwide</p>
        </div>
        
        <div class="footer-section">
            <h4>Quick Links</h4>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/search">search</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
        
        <div class="footer-section">
         <!--   <h4>Connect</h4>
            <div class="social-links">
                <a href="#" class="social-link">Facebook</a>
                <a href="#" class="social-link">Twitter</a>
                <a href="#" class="social-link">Instagram</a>
            </div> -->
        </div>
    </div>
    
    <div class="footer-bottom">
        <p>&copy; 2025 Naija Groups. All rights reserved.</p>
    </div>
</footer>
 <%- include('ui-components') %>
<!-- JavaScript -->
<script src="/js/script.js"></script>